
body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    background-image: url('../static/images/empty-blue-grandstands-low-angle.jpg');
    background-size: cover; 
    background-position: center; 
    min-height: 100vh; 

} 
.container {
    max-width: 1200px; 
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    margin: 0 auto;
    opacity: 0.6;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 38px;
}

header a {
    text-decoration: none;
    color: #fff;
    /* transition: ease-in-out 0.3s; */
}

header a:hover {
    color: #ffcc00;
}

/* Page routes styles */
.pageroutes {
    text-align: center;
    background-color: #555;
    padding: 10px;
}

.pageroutes ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pageroutes li {
    display: inline-block;
    margin-right: 20px;
}

.pageroutes li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border: 2px solid #fff;
    border-radius: 30px;

}

.pageroutes li a:hover {
    color: #ffcc00;
}

/* Style for the content block */
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

/* Style for the welcome heading */
.welcome h2 {
    font-size: 36px;
    color: #1d1c1c;
    margin-bottom: 20px;
    margin-top: 8px;
}

/* Style for the info paragraphs */
.info p {
    font-size: 18px;
    color: #454545;
    line-height: 1.6;
    margin-bottom: 15px;
}
