<!DOCTYPE html>
<html>
<head>
    <title>Game On</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">

</head>
 <header class="home">
  
      <h1><b><a href = "/"> GAME ON</b></h1></a>
      <nav class="pageroutes">
      <ul>
        <li>
          <a href="/sportevents">Sport Event</a>
        </li>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/visits">Visits</a>
        </li>
      </ul>
    </nav>

    </header>
<body>
 <main>
  {% block content %}

    {% endblock %}
  </main>
</body>
</html>
