{% extends 'base.jinja' %}

{% block content %}
    <div class="content">
        <div class="welcome"> 
            <h2><strong>Welcome To The Official Sports Event Tracking App!</strong></h2>
        </div> 

        <div class="info">
            <p>Show off to your friends about how much you love sports.</p>
            <p>Track your history, leave some memories for yourself to show the grandkids</p>
            <p>Follow your friends to find out what they are up to, maybe you will be inspired to check out something new.</p>
        </div>
    </div>
{% endblock %}
