{% extends 'base.jinja' %}
{% block content %}

    <header> <h1><b> GAME ON</b> </h1> </header>
    <h2> <h1> {{user.name}} </h1> event list</h2>

<h3>Visited:</h3>
<ul>
    {% for sport_event in user.visits %}
<li>{{ sport_event.name }}</li>
    {% endfor %}
</ul>
    {%endblock%}



